.editorContainer {
  display: flex;
  --gap: 1rem;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  min-height: 0;
  flex: 1;
  gap: var(--gap);
  overflow: hidden;
  padding: 1rem;
}

.consolePanel {
  display: flex;
  flex-direction: column;
  gap: 1rem !important;
}

.consolePanel:last-child {
  height: 100%;
}
