:root {
  --navbar-height: 3.5rem;
}

.navbar {
  left: 0;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  position: sticky;
  z-index: 100;

  padding: .5rem 1rem;
  background-color: var(--clr-surface-a10);
  border-bottom: 1px solid var(--clr-surface-a20);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.9);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left, .right {
  display: flex;
  gap: 1rem;
}
