.container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
  background-color: var(--clr-surface-a5);
  min-width: 200px;
  box-sizing: border-box;
  overflow: auto;
}

.tabContainer {
  display: flex;
  align-items: center;
}

.activeTabContainer {
  background-color: var(--clr-surface-a10);
  padding-right: .4rem;
  gap: .5rem;
  border-radius: .5rem;
}

.activeTabContainer:hover {
  cursor: default;
}

.tabButtons {
  display: flex;
  gap: .5rem;
}

.renamingTab {
  padding: 0;
}

.renameInput {
  display: flex;
}

.activeTabContainer .tab {
  box-shadow: inset 0 -2px 0 var(--clr-primary-a0);
}

.tab {
  width: 100%;
}
