.console {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  background-color: black;
  padding: 1rem;
  height: 100%;
  width: 100%;
  white-space: pre-wrap;
  overflow: auto;
}

.message-error {
  color: var(--clr-danger-a10);
  font-weight: bold;
}

.message-warn {
  color: var(--clr-warning-a10);
}

.message-log {
}
