.console {
  background-color: var(--clr-console-bg);
  padding: 1rem;
  height: 100%;
  width: 100%;
  white-space: pre-wrap;
  overflow: auto;
  position: relative;
}

.title {
  color: #5e6779;
  margin-right: 4px;
}

.message {
  font-family: "JetBrains Mono", monospace;
}

.message-error {
  color: var(--clr-danger-a10);
  font-weight: bold;
}

.message-warn {
  color: var(--clr-warning-a10);
}

.message-log {
  color: var(--text-color);
}
