.console {
  background-color: var(--clr-console-bg);
  height: 100%;
  width: 100%;
  white-space: pre-wrap;
  position: relative;
}

.title {
  color: var(--clr-surface-a30);
  margin: .25rem 1rem;
}

.messageContainer {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 1rem 5rem 1rem 1rem;
}

.message {
  font-family: "JetBrains Mono", monospace;
}

.message-error {
  color: var(--clr-danger-a10);
  font-weight: bold;
}

.message-warn {
  color: var(--clr-warning-a10);
}

.message-log {
  color: var(--text-color);
}

.message-info {
  color: var(--clr-info-a10);
  font-style: italic;
}
