.container {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-surface-a0);
  overflow: hidden;
  height: 100%;
  position: relative;
  --nesting-level: 0;
}

.list {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.element {
  display: inline-flex;
  position: relative;
  background-color: var(--clr-surface-a3);
  border-bottom: 1px solid var(--clr-surface-a10);
  transition: color .2s, background-color .2s;
  color: var(--text-color-t60);
  user-select: none;
  -webkit-user-select: none;
}

.elementName {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: .5rem calc((var(--nesting-level) + 1) * 1rem);
  /*padding: .5rem 1rem;*/
}

.element:hover {
  cursor: pointer;
}

.element:hover,
.element.active {
  background-color: var(--clr-surface-a7);
  color: var(--text-color);
}

.groupContainer {
  display: flex;
  flex-direction: column;
}

.group {
  color: var(--text-color-t80);
  font-weight: 600;
  border-bottom: 1px solid var(--clr-surface-a20);
  transition: color .2s, font-weight .2s;
}

.activeGroup {
  color: var(--text-color);
  font-weight: 700;
}

.groupListContainer {
  background-color: var(--clr-surface-a3);
}

.indicator {
  position: absolute;
  background-color: var(--clr-primary-a0);
  width: 4px;
  height: 100%;
  z-index: 1;
}

.cornerGroup {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.spacer {
  height: 3.25rem;
  flex-shrink: 0;
}

.cornerGroup::before {
  content: '';
  position: absolute;
  inset: 0;
  top: -150%;
  width: 100%;
  height: 250%;
  backdrop-filter: blur(4px);
  mask: linear-gradient(to top, black 0%, transparent 100%);
  z-index: -1;
  pointer-events: none;
}
