.title {
  padding-left: .5rem;
  border-left: 3px solid var(--clr-surface-a50);
  border-radius: 2px;
  margin-bottom: .5rem;
  opacity: 80%;
}

.trigger {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.trigger > * {
  width: 100%;
  height: 100%;
}

.body {
  background: var(--clr-surface-a5);
  border: 1px solid var(--clr-surface-a20);
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;

  box-shadow: 0 0 75px rgba(0, 0, 0, 0.6);
  min-width: 400px;
  position: relative;
  overflow: hidden;
}

.overlayWrapper {
  position: fixed;
  inset: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.4);
}

.overlayWrapper.nested {
  background: transparent;
}

.overlay {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.container {
  outline: none;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
