.editorContainer {
  display: flex;
  --gap: 1rem;
  width: 100%;
  height: 100%;
  min-height: 0;
  flex: 1;
  gap: var(--gap);
}

.left, .right {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.left {
  flex: 0 0 50%;
}

.right {
  flex: 1 1 50%;
}

.viewport,
.console,
.codeEditor {
  display: flex;
  min-height: 0;
}

.codeEditor {
  flex: 1;
}

.viewport {
  flex: 0 0 60%;
}

.console {
  flex: 1 1 40%;
}

