.cornerGroup {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--clr-surface-a10);
  padding: .3rem .3rem .5rem .5rem;
  border-bottom-left-radius: 1rem;
}
