.link {
  position: relative;
  color: var(--text-color-lighter);
  font-weight: 500;
  padding: var(--padding);
  transition: color .2s ease;
}

.link.active {
  color: var(--text-color);
}

.link:hover {
  color: var(--text-color);
}

.link::after {
  content: '';
  position: absolute;
  bottom: 0;

  /*How much to offset the underline from edges*/
  --offset: 10%;

  left: var(--offset);
  width: calc(100% - var(--offset) * 2);

  height: 2px;

  transition: opacity .4s ease;
}


.link:hover::after {
  background: linear-gradient(to right, transparent, var(--clr-primary-a40), transparent);
}

.link.active::after {
  background: linear-gradient(to right, transparent, var(--clr-primary-a0), transparent);
}
