.container {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  background-color: var(--clr-surface-a5);
  padding: .3rem .3rem;
  border-radius: 25% / 50%;
  border: 1px solid var(--clr-surface-a20);
}

.container:hover {
  cursor: pointer;
}

.placeholder {
  width: 1rem;
  height: 1rem;
}

.button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--clr-surface-a20);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
