.themeToggle {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all .2s;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.themeToggle:hover {
  background: var(--clr-surface-a20);
}
