.logo {
  image-rendering: pixelated;
  height: 40px;
  padding: 0 1rem;
  user-select: none;
  -webkit-user-select: none;
}

.logo.mobile {
  height: 30px !important;
  margin-top: 5px;
  padding: 0;
}
