.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  box-sizing: border-box;
  display: inline-block;
  --background-color: var(--clr-surface-a10);
  background-color: var(--background-color);
  border-radius: .5rem;
  padding: 0;
}

.startTile {
  --background-color: var(--clr-success-a0);
  border-color: var(--clr-success-a10);
}

.finishTile {
  --background-color: var(--clr-danger-a10);
  border-color: var(--clr-danger-a20);
}
