.viewport {
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;

  background: var(--clr-surface-a0);
  overscroll-behavior: none;
  position: relative;
}

.canvas {
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  display: block;
  touch-action: none;
}

.canvas.unlocked {
  cursor: grab;
}

.canvas.unlocked:active {
  cursor: grabbing;
}

.canvas img {
  image-rendering: pixelated;
}
