.container {
  height: 100%;
  width: 100%;

  display: flex;
  --foreground-color: var(--text-color);
  --background-color: var(--clr-surface-a10);
  color: var(--foreground-color);
  background-color: var(--background-color);
  cursor: text;
  overflow: auto;
  position: relative;
  --line-number: 1;
  --line-number-transition-duration: 0.1s;
}

.codeEditor {
  font-family: "JetBrains Mono", monospace;
  flex: 1;
  width: 100%;
}

.editorTabs {
  flex: 1;
  overflow-x: auto;
  scrollbar-width: none;
  border-right: 1px solid var(--clr-surface-a20);
}

.editorTabs:hover {
  scrollbar-width: thin;
}

