.container {
  height: 100%;
  width: 100%;

  display: flex;
  --foreground-color: var(--text-color);
  --background-color: var(--clr-surface-a10);
  color: var(--foreground-color);
  background-color: var(--background-color);
  cursor: text;
  overflow: auto;
  position: relative;
  --line-number: 1;
  --line-number-transition-duration: 0.1s;
}

.codeEditor {
  font-family: "JetBrains Mono", monospace;
  /*font-size: var(--editor-font-size);*/
  /*line-height: var(--editor-line-height);*/
  flex: 1;
  line-height: 1.4em;

  overflow: auto !important;
  white-space: pre;
  height: 100vh;
}

.codeEditor textarea:focus {
  outline: none; /* Remove default focus outline */
}

.codeEditor textarea {
  white-space: pre !important;
  word-wrap: normal !important;
  word-break: break-all !important;
/*  height: ${({ textareaHeight }) => textareaHeight}px!important;*/
/*width: ${({ textareaWidth }) => textareaWidth}px!important;*/
}

.codeEditor pre {
  height: 100vh;
  white-space: pre !important;
  word-wrap: normal !important;
  word-break: break-all !important;
}

.lineNumbers {
  font-family: "JetBrains Mono", monospace;
  text-align: right;
  padding: 10px 8px;
  user-select: none;
  -webkit-user-select: none;
  background-color: color-mix(in srgb, var(--background-color), var(--clr-dark-a0) 10%);
  overflow: hidden;
}

.lineNumber {
  /*height: var(--editor-line-height);*/
  /*line-height: var(--editor-line-height);*/
  /*font-size: var(--editor-font-size);*/
  opacity: 0.3;
}

.currentLineIndicator {
  color: var(--clr-danger-a10);
  margin-right: 4px;
  opacity: 1;
}

.currentLineOverlay {
  position: absolute;
  top: calc((var(--line-number) - .5) * var(--editor-line-height));
  left: 0;
  height: var(--editor-line-height);
  width: 100%;
  background: linear-gradient(90deg, var(--clr-danger-a0) 0%, transparent 40%) center;
  z-index: 2;
  transition: top var(--line-number-transition-duration) ease-out,
  opacity var(--line-number-transition-duration) ease-out;
  opacity: 0;
  mix-blend-mode: screen;
  pointer-events: none;
}

.currentLineOverlay.visible {
  opacity: 0.5;
}

.currentLineOverlay.resetting {
  transition-delay: .1s, 0s;
}
