.container {
  height: 100%;
  width: 100%;

  display: flex;
  font-size: 14px;
  --foreground-color: var(--text-color);
  --background-color: var(--clr-surface-a10);
  color: var(--foreground-color);
  background-color: var(--background-color);
  cursor: text;
  overflow: auto;
  position: relative;
  --line-number: 1;
  --line-number-transition-duration: 0.1s;
}

.codeEditor {
  font-family: "JetBrains Mono", monospace;
}

.codeEditor textarea:focus {
  outline: none; /* Remove default focus outline */
}

.lineNumbers {
  font-family: "JetBrains Mono", monospace;
  text-align: right;
  padding: 10px 8px;
  user-select: none;
  -webkit-user-select: none;
  background-color: color-mix(in srgb, var(--background-color), var(--clr-dark-a0) 5%);
}

.lineNumber {
  height: 1.5em;
  line-height: 1.5em;
  opacity: 0.3;
}

.currentLineIndicator {
  color: var(--clr-danger-a10);
  margin-right: 4px;
  opacity: 1;
}

.currentLineOverlay {
  position: absolute;
  top: calc(var(--line-number) * 1.5em - 0.75em);
  left: 0;
  height: 1.5em;
  width: 100%;
  background: linear-gradient(90deg, var(--clr-danger-a0) 0%, transparent 40%) center;
  z-index: 2;
  transition: top var(--line-number-transition-duration) ease-out,
  opacity var(--line-number-transition-duration) ease-out;
  opacity: 0;
  mix-blend-mode: screen;
}

.currentLineOverlay.visible {
  opacity: 0.5;
}

.currentLineOverlay.resetting {
  transition-delay: .1s, 0s;
}
