.container {
  height: 100%;
  width: 100%;

  display: flex;
  --foreground-color: var(--text-color);
  --background-color: var(--clr-surface-a10);
  color: var(--foreground-color);
  background-color: var(--background-color);
  cursor: text;
  overflow: auto;
  position: relative;
  --line-number: 1;
  --line-number-transition-duration: 0.1s;
}

.codeEditor {
  font-family: "JetBrains Mono", monospace;
  /*font-size: var(--editor-font-size);*/
  /*line-height: var(--editor-line-height);*/
  flex: 1;
  line-height: 1.4em;
  width: 100%;
}

.codeEditor textarea:focus {
  outline: none; /* Remove default focus outline */
}

.lineNumbers {
  font-family: "JetBrains Mono", monospace;
  text-align: right;
  padding: 10px 8px;
  user-select: none;
  -webkit-user-select: none;
  background-color: color-mix(in srgb, var(--background-color), var(--clr-dark-a0) 10%);
  overflow: hidden;
}

.lineNumber {
  /*height: var(--editor-line-height);*/
  /*line-height: var(--editor-line-height);*/
  /*font-size: var(--editor-font-size);*/
  opacity: 0.3;
}

.currentLineIndicator {
  color: var(--clr-danger-a10);
  margin-right: 4px;
  opacity: 1;
}




