.codeEditor {
  font-family: "JetBrains Mono", monospace;
  height: 100%;
  display: flex;
  font-size: 14px;
  overflow: hidden;
  --foreground-color: var(--text-color);
  --background-color: var(--clr-surface-a10);
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.lineNumbers {
  text-align: right;
  padding: 10px 8px;
  user-select: none;
  -webkit-user-select: none;
  opacity: 1;
  background-color: color-mix(in srgb, var(--background-color), var(--clr-dark-a0) 10%);
}

.lineNumber {
  height: 1.5em;
  line-height: 1.5em;
  opacity: 0.3;
}
