.formField {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.formLabel {
  opacity: 60%;
  font-size: 0.875rem;
  padding: 0;
  margin-left: 4px;
}

.formInput > * {
  box-sizing: border-box;
  width: 100% !important;
}

.unit {
  display: inline-block;
  margin-left: 4px;
  font-weight: 600;
  color: var(--clr-primary-a30)
}

