.button {
  all: unset;
  border-radius: .5rem;
  padding: var(--padding);
  will-change: transform;
  transition: all .2s;
  background-color: var(--background-color);
  font-weight: 500;
  font-size: 16px;
  box-sizing: content-box;
  text-align: center;
  height: 1.5rem;
  word-break: keep-all;
  text-wrap: nowrap;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.button:hover {
  cursor: pointer;
  background-color: color-mix(in srgb, var(--background-color) 90%, var(--text-color));
}

.button:active {
  transform: scale(0.95);
}

.button:disabled {
  cursor: default !important;
  background: inherit !important;
  transform: none !important;
}

/* Variants */
.variant-disabled {
  background: transparent;
  box-shadow: inset 0 0 0 2px var(--clr-surface-a20);
}

.variant-primary {
  --background-color: var(--clr-primary-a0);
  color: var(--clr-dark-a0);
}

.variant-primary:hover {
  background-color: var(--clr-primary-a10) !important;
}

.variant-secondary {
  --background-color: var(--clr-surface-a20);
  color: var(--text-color);
}

.variant-secondary:hover {
  background-color: var(--clr-surface-a30) !important;
}

.variant-success {
  --background-color: var(--clr-success-a10);
  color: var(--clr-dark-a0);
}

.variant-success:hover {
  background-color: var(--clr-success-a20) !important;
}

.variant-danger {
  --background-color: var(--clr-danger-a10);
  color: var(--clr-light-a0);
}

.variant-background {
  --background-color: var(--clr-surface-a10);
  color: var(--text-color);
}

.variant-background:hover {
  background-color: var(--clr-surface-a20) !important;
}


/* Shapes */
.shape-default {
  border-radius: .5rem;
}

.shape-icon {
  padding: var(--padding-vertical);
  width: 1.5rem !important;
  height: 1.5rem !important;
}

/* Sizes */
.size-small {
  --padding: 2px 4px;
  --padding-vertical: 2px;
  font-size: 14px;
}

.size-medium {
  --padding: .375rem .75rem;
  --padding-vertical: .375rem;
  font-size: 16px;
}

.size-large {
  /* Default */
}
