.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.horizontal {
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.stretch {
  width: 100%;
}

.stretch > * {
  flex: 1;
  width: 100%;
}
