.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.resizer {
  display: block;
  opacity: 0;
  border: 1px solid transparent;
  background-color: var(--clr-surface-a0);
  --resizer-thickness: .5rem;
  --resizer-margin: .25rem;
  border-radius: .25rem;
  transition: background-color .2s ease-in-out, border .2s ease-in-out, opacity .2s ease-in-out;
}

.resizer.horizontal {
  cursor: col-resize;
  margin: 0 var(--resizer-margin);
  width: var(--resizer-thickness);
  height: 100%;
}

.resizer.vertical {
  cursor: row-resize;
  margin: var(--resizer-margin) 0;
  width: 100%;
  height: var(--resizer-thickness);
}

.resizer:hover {
  opacity: 1;
  border: 1px solid var(--clr-surface-a30);
  background-color: var(--clr-surface-a20);
}

.resizer.active {
  opacity: 1;
  border: 1px solid var(--clr-surface-a30);
  background-color: var(--clr-primary-a0);
}

