:root {
  --navbar-height: 3.5rem;
}

.navbar {
  left: 0;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  position: sticky;
  z-index: 100;

  padding: .5rem 1rem;
  background-color: var(--clr-surface-a0);

  border-bottom: 1px solid var(--clr-surface-a10);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left, .right {
  display: flex;
  gap: 0;
}

.right {
  gap: .5rem;
}

.linkContainer {
  position: relative;
  display: flex;
}

.mobileMenu {
  box-sizing: content-box;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: .5rem;

  display: flex;
  flex-direction: column;
  gap: .5rem;
  border-top: 1px solid var(--clr-primary-a0);
  border-bottom: 1px solid var(--clr-surface-a20);
  background-color: var(--clr-surface-a0);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.7);
}
