.container {
  height: 100%;
  width: 100%;

  display: flex;
  --foreground-color: var(--text-color);
  --background-color: var(--clr-surface-a10);
  color: var(--foreground-color);
  background-color: var(--background-color);
  cursor: text;
  overflow: auto;
  position: relative;
  --line-number: 1;
  --line-number-transition-duration: 0.1s;
}

.editorWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 1rem;
  position: relative;
}

.codeEditor {
  font-family: "JetBrains Mono", monospace;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.cornerGroup,
.bottomCornerGroup {
  position: relative;
  width: 100%;
  gap: .5rem;
  z-index: 5;
}

.cornerGroup::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 5rem;
  backdrop-filter: blur(8px);
  mask: linear-gradient(to bottom, black 0%, transparent 100%);
  pointer-events: none;
  z-index: -1;
}

.bottomCornerGroup {
  height: 5rem;
}

.bottomCornerGroup::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  mask: linear-gradient(to top, black 0%, transparent 100%);
  pointer-events: none;
  z-index: -1;
}
