.levelEditor {
  --tile-size: 4rem;
  --short-size: calc(var(--tile-size) / 4);

  /*TODO: Make full screen and side panels scrollable instead*/
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10rem;

  gap: 1rem;
}

.panel {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--clr-surface-a5);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  box-sizing: border-box;
  display: inline-block;
  --background-color: var(--clr-surface-a10);
  border-radius: .5rem;
  padding: 0;
}

.wall {
  width: var(--short-size);
  height: var(--tile-size);
  min-height: var(--tile-size);
  border-radius: .5rem;
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  --background-color: var(--clr-surface-a10);
}

.wallHorizontal {
  width: var(--tile-size);
  height: var(--short-size);
  min-height: var(--short-size) ;
}

.gridWindow::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  box-shadow: inset var(--surface-shadow);
  z-index: 10;
}

.gridWindow {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.gridContainer {
  width: 100%;
  overflow: auto;
  padding: 1rem;
}

.grid {
  gap: .5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gridRow {
  gap: .5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.wallRow {
  gap: calc(1rem + var(--short-size));
}

.wall-stone {
  --background-color: gray;
}

.tile-grass {
  --background-color: lightgreen;
}

.tile-water {
  --background-color: lightblue;
}

.startTile {
  outline: 4px solid var(--clr-success-a0)
}

.startArrow {
  fill: var(--clr-success-a0);
}

.finishTile {
  outline: 4px solid var(--clr-danger-a10)
}
