.levelEditor {
  --tile-size: 4rem;
  --short-size: calc(var(--tile-size) / 4);

  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--navbar-height) - 2rem);
  align-items: flex-start;
  justify-content: flex-start;

  --tile-color-grass: lightgreen;
  --tile-color-water: lightblue;

  --wall-color-stone: gray;

  gap: 1rem;
}

.panel {
  height: 100%;
  overflow: auto;
  padding: .5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  background-color: var(--clr-surface-a5);
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* TODO: Fix grid scrollbar behind tiles */
.gridWindow::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  box-shadow: inset var(--surface-shadow);
  z-index: 10;
}

.gridWindow {
  position: relative;
  flex: 1;
  height: 100%;
  overflow: auto;
}

.gridContainer {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 1rem;
}
