.levelEditor {
  --tile-size: 4rem;
  --short-size: calc(var(--tile-size) / 4);

  /*TODO: Make full screen and side panels scrollable instead*/
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - var(--navbar-height) - 2rem);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10rem;

  gap: 1rem;
}

.panel {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--clr-surface-a5);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gridWindow::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  box-shadow: inset var(--surface-shadow);
  z-index: 10;
}

.gridWindow {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.gridContainer {
  width: 100%;
  overflow: auto;
  padding: 1rem;
}

.grid {
  gap: .5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gridRow {
  gap: .5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.wallRow {
  gap: calc(1rem + var(--short-size));
}
