.link {
  position: relative;
  color: var(--text-color-t70);
  font-weight: 500;
  padding: var(--padding);
  transition: color .2s ease;
}

.link.active {
  color: var(--text-color);
}

.link:hover {
  color: var(--text-color);
}

.indicator {
  background-color: var(--clr-primary-a0);
  margin-top: 4px;
  height: 2px;
}
