:root {
  --background-overlay-color: rgba(0, 0, 0, 0.25);
}

:root[theme="dark"] {
  --background-overlay-color: rgba(0, 0, 0, 0.4);
}

.taskCard {
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--clr-surface-a50);
  box-shadow: var(--surface-shadow-light);
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--clr-light-a0);
  background-color: var(--clr-surface-a20);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.taskCard::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--background-overlay-color);
  z-index: 0;
}

.taskCard:hover {
  cursor: pointer;
  border-color: var(--clr-primary-a0)
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  z-index: 1;
}

.description {
  font-size: 1.2rem;
  text-align: center;
  z-index: 1;
}

.title, .description {
  text-shadow: 0 2px 32px rgba(0, 0, 0, .8);
}
