.container {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.2rem;
  height: 2.2rem;
  border-radius: .5rem;

  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: var(--text-color);
}

.content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.langText {
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: 0.05em;
}
