.cm-execLine {
  position: relative;
  overflow: visible;
}

.cm-execLine::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
      90deg,
      var(--clr-danger-a0) 0%,
      transparent 60%
  );
  opacity: 0.6;
  mix-blend-mode: overlay;
  pointer-events: none;
  animation: spawn-animation .1s ease-out;
  border-radius: 4px;
}

@keyframes spawn-animation {
  0% {
    transform: translateY(-14px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: .5;
  }
}

.cm-tooltip-autocomplete {
  background: var(--clr-surface-a0);
  border-radius: .5rem;
  box-shadow: var(--surface-shadow-light);
  margin-top: .25rem;
  padding: .25rem !important;
}

/* Each completion item */
.cm-completionLabel {

}

.cm-completionIcon {
  margin-right: .125rem;
}

/*.cm-completionIcon-function::before {*/
/*  content: "f";*/
/*  color: #6af;*/
/*}*/

/*.cm-completionIcon {*/
/*}*/

/*.cm-completionIcon-variable::after {*/
/*  display: none;*/
/*}*/

/*.cm-completionIcon-variable::before {*/
/*  content: "x";*/
/*  color: #fd971f;*/
/*}*/

/*.cm-completionIcon-keyword::after {*/
/*  display: none;*/
/*}*/

/*.cm-completionIcon-keyword::before {*/
/*  content: "kw";*/
/*  font-size: .9em;*/
/*  color: #a6e22e;*/
/*}*/

/* Selected item (arrow key highlight) */
.cm-tooltip-autocomplete ul li[aria-selected] {
  background: var(--clr-primary-a0) !important;
}

.cm-tooltip-autocomplete ul li {
  border-radius: .25rem;
  padding: 2px !important;
}

.cm-tooltip-autocomplete ul {
}

/* Completion box */
.cm-completionInfo {
  --keyword-color: #d73a49;
  --type-color: #005cc5;
}

.cm-completionInfo {
  --keyword-color: #ff7b72;
  --type-color: #79c0ff;
}

.cm-completionInfo {
  border-radius: .5rem;
  margin: 0 .5rem;
  top: 0 !important;
  padding: 8px !important;
  box-shadow: var(--surface-shadow-light);
}

.cm-completionInfo .usage {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--clr-surface-a0); /* TODO: change to variable */
  padding: 4px 8px;
  border-radius: 8px;
  margin: 0 0 4px;
  border-left: 4px solid var(--clr-primary-a0);
  width: fit-content;
  white-space: pre-wrap;
}

.cm-completionInfo .warning {
  background-color: var(--clr-surface-a0);
  padding: 4px 8px;
  border-radius: 8px;
  margin-bottom: 4px;
  border-left: 4px solid var(--clr-warning-a10);
}

.cm-completionInfo .description {
}

/* Doc syntax highlighting */
.cm-completionInfo .tok-keyword {
  color: var(--keyword-color);
}

.cm-completionInfo .tok-typeName {
  color: var(--type-color);
}
