/* Light theme colors */
:root,
.light-theme {
  color-scheme: light;
  --text-color: var(--clr-dark-a0);

  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #1e88e6;
  --clr-primary-a10: #2278ca;
  --clr-primary-a20: #2468ae;
  --clr-primary-a30: #235993;
  --clr-primary-a40: #224a79;
  --clr-primary-a50: #1f3c60;
  --clr-primary-a60: #1b2e48;
  --clr-primary-a70: #162131;
  --clr-primary-a80: #0f141c;
  --clr-primary-a90: #000000;

  /** Theme surface colors */
  /*--clr-surface-a0: #ffffff;*/
  /*--clr-surface-a10: #f0f0f0;*/
  /*--clr-surface-a20: #e1e1e1;*/
  /*--clr-surface-a30: #d3d3d3;*/
  /*--clr-surface-a40: #c5c5c5;*/
  /*--clr-surface-a50: #b6b6b6;*/
  /*--clr-surface-a60: #a9a9a9;*/
  /*--clr-surface-a70: #9b9b9b;*/

  /** Theme tonal surface colors */
  --clr-surface-a-minus-20: #faffff;
  --clr-surface-a-minus-10: #f3f9ff;
  --clr-surface-a0: #edf2fd;
  --clr-surface-a5: #E0E5EE;
  --clr-surface-a10: #e0e5ee;
  --clr-surface-a20: #d4d8e0;
  --clr-surface-a30: #c7cbd2;
  --clr-surface-a40: #bbbec4;
  --clr-surface-a50: #afb1b6;
  --clr-surface-a60: #a3a4a8;
  --clr-surface-a70: #97989a;

  /** Success colors */
  --clr-success-a0: #1b7f5c;
  --clr-success-a10: #28be8a;
  --clr-success-a20: #58dbad;

  /** Warning colors */
  --clr-warning-a0: #b8871f;
  --clr-warning-a10: #dfae44;
  --clr-warning-a20: #ebca85;

  /** Danger colors */
  --clr-danger-a0: #b13535;
  --clr-danger-a10: #d06262;
  --clr-danger-a20: #e29d9d;

  /** Info colors */
  --clr-info-a0: #1e56a3;
  --clr-info-a10: #347ada;
  --clr-info-a20: #74a4e6;

  --clr-console-bg: #FFFFFF;
}

/* Dark theme colors */
:root[theme="dark"],
.dark-theme {
  color-scheme: dark;
  --text-color: var(--clr-light-a0);

  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #1e88e6;
  --clr-primary-a10: #4d94e9;
  --clr-primary-a20: #6aa1ec;
  --clr-primary-a30: #83aeef;
  --clr-primary-a40: #9abbf2;
  --clr-primary-a50: #afc8f5;
  --clr-primary-a60: #c4d6f8;
  --clr-primary-a70: #d8e3fa;
  --clr-primary-a80: #ebf1fd;
  --clr-primary-a90: #ffffff;

  /*!** Theme surface colors *!*/
  /*--clr-surface-a0: #121212;*/
  /*--clr-surface-a10: #282828;*/
  /*--clr-surface-a20: #3f3f3f;*/
  /*--clr-surface-a30: #575757;*/
  /*--clr-surface-a40: #717171;*/
  /*--clr-surface-a50: #8b8b8b;*/
  /*--clr-surface-a60: #a7a7a7;*/
  /*--clr-surface-a70: #c4c4c4;*/

  /** Theme tonal surface colors */
  --clr-surface-a-minus-20: #0e1725;
  --clr-surface-a-minus-10: #161f2d;
  --clr-surface-a0: #1E2736;
  --clr-surface-a5: #262f3e;
  --clr-surface-a10: #343b4a;
  --clr-surface-a20: #4a515e;
  --clr-surface-a30: #626773;
  --clr-surface-a40: #7a7f89;
  --clr-surface-a50: #93979f;
  --clr-surface-a60: #adb0b7;
  --clr-surface-a70: #c8cace;

  /** Success colors */
  --clr-success-a0: #22946e;
  --clr-success-a10: #47d5a6;
  --clr-success-a20: #9ae8ce;

  /** Warning colors */
  --clr-warning-a0: #a87a2a;
  --clr-warning-a10: #d7ac61;
  --clr-warning-a20: #ecd7b2;

  /** Danger colors */
  --clr-danger-a0: #9c2121;
  --clr-danger-a10: #d94a4a;
  --clr-danger-a20: #eb9e9e;

  /** Info colors */
  --clr-info-a0: #21498a;
  --clr-info-a10: #4077d1;
  --clr-info-a20: #92b2e5;

  --clr-console-bg: #000000;
}
