/* Light theme colors */
:root,
.light-theme {
  color-scheme: light;
  --text-color: var(--clr-dark-a0);

  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #1e88e6;
  --clr-primary-a10: #2278ca;
  --clr-primary-a20: #2468ae;
  --clr-primary-a30: #235993;
  --clr-primary-a40: #224a79;
  --clr-primary-a50: #1f3c60;

  /** Theme surface colors */
  --clr-surface-a0: #ffffff;
  --clr-surface-a5: #F8F8F8;
  --clr-surface-a10: #f0f0f0;
  --clr-surface-a15: #E9E9E9;
  --clr-surface-a20: #e1e1e1;
  --clr-surface-a30: #d3d3d3;
  --clr-surface-a40: #c5c5c5;
  --clr-surface-a50: #b6b6b6;
  --clr-surface-a60: #a5a5a5;


  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #edf2fd;
  --clr-surface-tonal-a10: #e0e5ee;
  --clr-surface-tonal-a20: #d4d8e0;
  --clr-surface-tonal-a30: #c7cbd2;
  --clr-surface-tonal-a40: #bbbec4;
  --clr-surface-tonal-a50: #afb1b6;

  /** Success colors */
  --clr-success-a0: #1b7f5c;
  --clr-success-a10: #28be8a;
  --clr-success-a20: #58dbad;

  /** Warning colors */
  --clr-warning-a0: #b8871f;
  --clr-warning-a10: #dfae44;
  --clr-warning-a20: #ebca85;

  /** Danger colors */
  --clr-danger-a0: #b13535;
  --clr-danger-a10: #d06262;
  --clr-danger-a20: #e29d9d;

  /** Info colors */
  --clr-info-a0: #1e56a3;
  --clr-info-a10: #347ada;
  --clr-info-a20: #74a4e6;

  --clr-console-bg: #FFFFFF;

  /* Doc colors */
  --keyword-color: #d73a49;
  --type-color: #005cc5;
  --optionality-color: #ce9314;
  --label-color: #1d6c76;
}

/* Dark theme colors */
:root[theme="dark"],
.dark-theme {
  color-scheme: dark;
  --text-color: var(--clr-light-a0);

  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #1e88e6;
  --clr-primary-a10: #4d94e9;
  --clr-primary-a20: #6aa1ec;
  --clr-primary-a30: #83aeef;
  --clr-primary-a40: #9abbf2;
  --clr-primary-a50: #afc8f5;

  /** Theme surface colors */
  /*--clr-surface-a0: #000000;*/
  /*--clr-surface-a10: #1e1e1e;*/
  /*--clr-surface-a20: #353535;*/
  /*--clr-surface-a30: #4e4e4e;*/
  /*--clr-surface-a40: #696969;*/
  /*--clr-surface-a50: #858585;*/

  /** Theme tonal surface colors */
  --clr-surface-a0: #0e121a;
  --clr-surface-a5: #1A1D25;
  --clr-surface-a10: #25282f;
  --clr-surface-a15: #31343A;
  --clr-surface-a20: #3c3f45;
  --clr-surface-a30: #54575d;
  --clr-surface-a40: #6e7176;
  --clr-surface-a50: #8a8b90;
  --clr-surface-a60: #a0a1a8;

  /** Success colors */
  --clr-success-a0: #22946e;
  --clr-success-a10: #47d5a6;
  --clr-success-a20: #9ae8ce;

  /** Warning colors */
  --clr-warning-a0: #a87a2a;
  --clr-warning-a10: #d7ac61;
  --clr-warning-a20: #ecd7b2;

  /** Danger colors */
  --clr-danger-a0: #9c2121;
  --clr-danger-a10: #d94a4a;
  --clr-danger-a20: #eb9e9e;

  /** Info colors */
  --clr-info-a0: #21498a;
  --clr-info-a10: #4077d1;
  --clr-info-a20: #92b2e5;

  --clr-console-bg: #000000;

  /* Doc colors */
  --keyword-color: #ff7b72;
  --type-color: #79c0ff;
  --optionality-color: #fac75b;
  --label-color: #64abb2;
}
