:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--clr-surface-a0);
  color: var(--text-color);
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --padding-vertical: .4rem;
  --padding-horizontal: 1.25rem;
  --padding: var(--padding-vertical) var(--padding-horizontal);
}

a {
  color: var(--clr-primary-a10);
  text-decoration: none;
  transition: color .2s;
}

a:hover {
  color: var(--clr-primary-a20);
}

.flex-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.25;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  margin-top: 1.6em;
}

h2 {
  font-size: 1.6rem;
  margin-top: 1.4em;
}

h3 {
  font-size: 1.3rem;
  margin-top: 1.2em;
}

h4 {
  font-size: 1.1rem;
  margin-top: 1em;
}

h5 {
  font-size: 1rem;
  margin-top: .9em;
  font-weight: 500;
  color: var(--clr-surface-a60);
}

h6 {
  font-size: 0.9rem;
  margin-top: .8em;
  font-weight: 500;
  color: var(--clr-surface-a50);
}

