input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea,
select {
  all: unset;
  padding: var(--padding);
  background: var(--clr-surface-a0);
  box-shadow: inset 0 0 0 1px var(--clr-surface-a20);
  border-radius: .5rem;
  box-sizing: border-box;
}

input[type="number"] {
  padding: var(--padding-vertical) var(--padding-vertical) var(--padding-vertical) calc(var(--padding-horizontal) * .7);
  min-width: 4rem;
}
