.viewport {
  background-color: black;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;

  background: linear-gradient(180deg, #cbe8ff, #f8faff);
}

.canvas {
  image-rendering: pixelated;
}
