.viewport {
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;

  background: linear-gradient(180deg, #cbe8ff, #f8faff);
}

.canvas {
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  display: block;
}

.canvas img {
  image-rendering: pixelated;
}
