.buttonGroup {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.vertical {
  flex-direction: column;
}

.stretch {
  width: 100%;
}

.stretch > * {
  flex: 1;
  width: 100%;
}

.center {
  justify-content: center;
}

.separator {
  height: 2rem;
  width: 1px;
  background-color: var(--clr-surface-a10);
}
