.container {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-surface-a0);
  overflow: hidden;
  height: 100%;
  position: relative;
}

.fileContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.file {
  display: inline-flex;
  position: relative;
  background-color: var(--clr-surface-a3);
  border-bottom: 1px solid var(--clr-surface-a10);
  transition: color .2s, background-color .2s;
  color: var(--text-color-t60);
  user-select: none;
  -webkit-user-select: none;
}

.fileName {
  padding: .5rem 1rem;
}

.file:hover {
  cursor: pointer;
}

.file:hover,
.file.active {
  background-color: var(--clr-surface-a7);
  color: var(--text-color);
}

.indicator {
  position: absolute;
  background-color: var(--clr-primary-a0);
  width: 4px;
  height: 100%;
  z-index: 1;
}

.cornerGroup {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.spacer {
  height: 3.25rem;
  flex-shrink: 0;
}

.cornerGroup::before {
  content: '';
  position: absolute;
  inset: 0;
  top: -150%;
  width: 100%;
  height: 250%;
  backdrop-filter: blur(4px);
  mask: linear-gradient(to top, black 0%, transparent 100%);
  z-index: -1;
  pointer-events: none;
}
