.background {
  border-radius: 1rem;
  background-color: var(--clr-surface-a10);
  border: 1px solid var(--clr-surface-a20);
  padding: .5rem;
  flex: 1;
  overflow-y: auto;
}

.title {
  color: var(--clr-surface-a70);
  user-select: none;
  -webkit-user-select: none;
  text-align: center;
  line-height: 1;
  margin-bottom: .5rem;
}

.foreground {
  position: relative;
  border-radius: .5rem;
  border: 1px solid var(--clr-surface-a20);
  overflow: hidden;
}
