.trigger {
  display: inline-flex;
  align-items: center;
}

.tooltip {
  background: var(--clr-surface-a10);
  border: 1px solid var(--clr-surface-a20);
  box-sizing: border-box;
  padding: 4px 8px;
  border-radius: .25rem;
  font-size: small;

  box-shadow: 0 0 16px var(--box-shadow-color);
  color: var(--text-color-t90);
}
