.button {
  all: unset;
  border-radius: .5rem;
  padding: var(--padding);
  will-change: transform;
  transition: transform .2s, background-color .2s, box-shadow .2s, color .2s;
  background-color: var(--background-color);
  font-weight: 500;
  font-size: 16px;
  box-sizing: border-box;
  text-align: center;
  word-break: keep-all;
  text-wrap: nowrap;
  border: 1px solid var(--clr-surface-a20);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.button:focus-visible {
  outline: 2px solid var(--clr-primary-a20);
  outline-offset: 2px;
}

.flexContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
  background-color: var(
      --background-hover,
      color-mix(in srgb, var(--background-color) 80%, var(--text-color))
  );
}

.button:active {
  transform: scale(0.95);
}

/* Disabled state */
.button:disabled,
.button[aria-disabled="true"] {
  cursor: default;
  background: inherit;
  transform: none;
  color: var(--text-color-t70);
}

.button:disabled:hover,
.button[aria-disabled="true"]:hover {
  cursor: not-allowed;
}

/* Variants */
.variant-none {
  /* No Style */
}

.variant-disabled {
  --background-color: transparent;
  --background-hover: transparent;
}

.variant-primary {
  --background-color: var(--clr-primary-a0);
  --background-hover: var(--clr-primary-a10);
  color: var(--clr-light-a0);
}

.variant-secondary {
  --background-color: var(--clr-surface-a10);
  --background-hover: var(--clr-surface-a20);
  color: var(--text-color);
}

.variant-success {
  --background-color: var(--clr-success-a10);
  --background-hover: var(--clr-success-a20);
  color: var(--clr-dark-a0);
}

.variant-danger {
  --background-color: var(--clr-danger-a10);
  --background-hover: var(--clr-danger-a20);
  color: var(--clr-light-a0);
}

.variant-background {
  --background-color: var(--clr-surface-a10);
  --background-hover: var(--clr-surface-a20);
  color: var(--text-color);
}

.variant-outlined {
  --background-color: var(--clr-surface-a5);
  --background-hover: var(--clr-surface-a15);
}

.variant-transparent {
  --background-color: transparent;
  --background-hover: var(--clr-surface-a20);
  color: var(--text-color);
}

.variant-highlighted {
  --background-color: var(--clr-surface-a10);
  --background-hover: var(--clr-surface-a20);
  color: var(--text-color);
  box-shadow: inset 0 -2px 0 var(--clr-primary-a0) !important;
}

.variant-linky {
  --background-color: transparent;
  --background-hover: transparent;
  border: none;
}

.variant-linky:hover {
  color: var(--clr-primary-a10);
}

/* Shapes */
.shape-default {
  height: var(--height);
  border-radius: .5rem;
}

.shape-icon {
  padding: var(--padding-vertical);
  height: var(--height);
  width: var(--height);
}

/* Sizes */
.size-small {
  --height: 24px;
  font-size: 14px;
}

.size-medium {
  --height: 28px;
  font-size: 16px;
}

.size-large {
  /* Default */
  --height: 36px;
  font-size: 16px;
}

/* Borders */
.border-default {
  box-shadow: inset 0 0 0 0 var(--clr-primary-a0);
}

.border-active {
  box-shadow: inset 0 -2px 0 var(--clr-primary-a0);
}
